.credits {
    @extend %firstSection;

    .heading {
        @extend %headingCardCredit;
    }

    .wrapper {
        .creditItem {

            .card {
                @extend %card;

                .image {
                    @extend %imgBackground;
                }

                .content {
                    @extend %content;


                    .title {
                        @extend %title;
                    }

                    .info {
                        @extend %info;
                    }

                    .btn {
                        @extend %btn;

                        .btnOrder {
                            @extend %primaryButton;
                            @extend %cardBtnOrder;
                        }

                        .btnMore {
                            @extend %cardBtnMore;
                            @extend %btnMorePrimary;
                            @extend %btnMoreHover;
                        }
                    }
                }
            }

            &:last-child {
                .card {
                    .image {

                        position: relative;

                        .img {
                            @extend %cardImage;

                            img {
                                border-radius: 15px;
                                @extend %img;
                            }
                        }
                    }
                }
            }


            .calcs {
                display: none;
                max-width: 600px;
                margin: 0 auto;

                &.active {
                    display: block;
                }

                .calcItems {
                    &.range-active {
                        border: 1px solid #ECECEC;
                        border-radius: 10px 10px 10px 0;
                        margin: 0 0 40px;
                    }

                    .item {
                        @extend %rangeItem;

                        .range {
                            background-color: transparent;
                        }
                    }

                    &.input-active {
                        border: none;
                        gap: 20px;
                        @include Grid($t-c: repeat(2, 1fr));

                        .formItem {
                            position: relative;

                            span {
                                display: none;
                                font-size: 14px;
                                padding: 3px 10px 0;
                                border-radius: 5px;
                                position: absolute;
                                left: 15px;
                                bottom: 5px;
                                background-color: $clr_error;
                                color: #fff;

                                &.active {
                                    display: inline-block;
                                }
                            }

                            input[type=text],
                            select {
                                @extend %input-select;
                                margin: 0 0 20px;
                            }
                        }
                    }
                }

                .btnBox {
                    margin: 65px 0 0;
                    padding: 30px 0;
                    border-top: 1px solid $clr_border;
                    @include Grid($t-c: 360px auto, $c-g: 40px);

                    .text {
                        background: no-repeat left 5px;
                        padding: 0 0 0 50px;

                        p {
                            font-size: 15px
                        }
                    }

                    .btnOrder {
                        @extend %btnOrder;
                        cursor: pointer;
                        height: 65px;
                    }
                }

                .shortCalc {
                    .calcItems {
                        &.range-active {
                            @include Grid($t-c: repeat(2, 1fr));
                        }
                    }


                }

                .longCalc {
                    .calcItems {
                        &.range-active {
                            @include Grid($t-c: repeat(3, 1fr));
                        }
                    }
                }
            }

        }
    }
}

.creditInfo {
    @extend %credit-info;

    .aboutCredit {
        .table {
            font-size: 18px;
            margin: 20px 0;
            max-width: 500px;
            border: 1px solid $clr_border;
            overflow: hidden;
            border-radius: 10px;

            table {
                width: 100%;
                border-collapse: collapse;

                th {
                    width: 50%;
                    text-align: left;
                    background-color: $clr_border;
                }


                td {
                    color: $clr_grey_text;

                    &:first-child {
                        border-right: 1px solid $clr_border;
                    }
                }

                td,
                th {
                    padding: 10px 14px;
                }
            }
        }
    }
}