.creditCards {
    @extend %firstSection;

    @include screenSize(desktop){
        padding: 145px 0 50px;

        &.active {
            padding: 265px 0 50px;
        }
    }

    .heading {
        @extend %headingCardCredit;
    }

    .wrapper {
        .creditCardItem {

            .card {
                @extend %card;

                .image {
                    height: 220px;
                    @extend %image;
                    position: relative;

                        .img {
                            @extend %cardImage;
    
                            img {
                                @extend %img;
                                height: auto;
                            }
                        }
                    

                    @include screenSize(desktop){
                        height: 100%;
                    }
                }

                .content {
                    @extend %content;

                    .title {
                        @extend %title;
                    }

                    .info {
                        @extend %info;
                    }

                    .btn {
                        @extend %btn;

                        .btnOrder {
                            @extend %primaryButton;
                            @extend %cardBtnOrder;
                        }

                        .btnMore {
                            @extend %cardBtnMore;
                            @extend %btnMorePrimary;
                            @extend %btnMoreHover;
                        }
                    }
                }
            }
        }
    }
}

.creditInfo {
    @extend %credit-info;
}