.deposits {
    @extend %firstSection;

    @include screenSize(desktop) {
        padding: 145px 0 50px;

        &.active {
            padding: 265px 0 50px;
        }
    }

    .heading {
        @extend %headingCardCredit;
    }

    .wrapper {
        .depositItem {
            .card {
                @extend %card;

                .image{
                    height: 170px;
                    @extend %image;
                    .img {
                        @extend %imgBackground;
                    }
    
                    @include screenSize(desktop) {
                        height: 100%;
    
                        .img {
                            background-position: bottom;
                        }
                    }
                }

                .content {
                    @extend %content;


                    .title {
                        @extend %title;
                    }

                    .info {
                        @extend %info;
                    }

                    .btn {
                        @extend %btn;

                        .btnOrder {
                            @extend %primaryButton;
                            @extend %cardBtnOrder;
                        }

                        .btnMore {
                            @extend %cardBtnMore;
                            @extend %btnMorePrimary;
                            @extend %btnMoreHover;
                        }
                    }
                }

            }
        }
    }
}

.creditInfo {
    @extend %credit-info;
}