%img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%credit-info {

    h2,
    p {
        color: $clr_grey_text;
    }

    h2 {
        @include Font($f-s: 1.2em, $l-h: 1.6em);
    }

    a {
        color: $clr_second;
    }

    .aboutCreditShort {

        &.active {
            display: none;
        }
    }

    .aboutCredit {
        display: none;

        &.active {
            display: block;
        }
    }
}

%imgBackground {

    height: 170px;
    @extend %image;

    .img {
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }

    @media (min-width:1024px) {
        height: 100%;

        .img {
            background-position: bottom;
        }
    }
}

%primaryButton {
    position: relative;
    padding: 15px 20px;
    display: inline-block;
    font-family: fB;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s;

    span {
        display: inline-block;
        color: #fff;
        transition: all 0.3s;

        @media (min-width:1024px) {
            font-size: 20px;
            position: relative;
            z-index: 1;
        }
    }

    @media (min-width:1024px) {
        border-radius: 0;
        padding: 14px 79px;
        background-color: transparent;

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            transform: skewX(-14deg);
            transition: all 0.3s;
        }
    }
}



%appLogo {
    width: 64px;
    height: 64px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $clr_primary;
}

%btnOrder {
    padding: 13px 25px;
    display: inline-block;
    background-color: $clr_primary;
    color: #000;
    font-family: fB;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s;
    @include Font ($f-s: 18px, $l-h: 29px);

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

%cardBtnOrder {
    grid-area: 1 / 1 / span 1 / span 2;


    &:hover {
        background-color: $clr_primary;

        span {
            color: #000;
        }
    }

    @media (min-width:1024px) {
        grid-area: auto;

        &:hover {
            background-color: transparent;

            &::after {
                background-color: $clr_primary;
            }
        }
    }
}

%cardBtnMore {
    grid-area: 2 / 1 / span 1 / span 2;

    @media (min-width:1024px) {
        grid-area: auto;
    }

    justify-self: center;
    position: relative;
    color: $clr_grey_text;
    transition: all 0.3s;

    &:hover {
        color: #000;

        svg {
            g {
                fill: #000;
            }
        }
    }

    svg {

        g {
            fill: $clr_grey_text;
            transition: all 0.3s;
        }
    }
}

%btnHover {
    color: #fff;
    background-color: $clr_second;

    svg {
        g {
            fill: #fff
        }
    }
}

%card {
    margin: 0 0 45px;
    border: 1px solid $clr_border;
    border-radius: 10px;
    @include Grid($t-c: 1fr);

    @media (min-width:1024px) {
        grid-template-columns: 660px 440px;
    }
}

%content {
    padding: 20px;

    @media (min-width:1024px) {
        padding: 45px 0 45px 60px;
    }
}

%title {
    h2 {
        font-family: fH;
        font-size: 20px;
        margin: 0 0 10px;

        @media (min-width:1024px) {
            font-size: 34px;
        }
    }

    p {
        line-height: 20px;

        @media (min-width:1024px) {
            font-size: 18px;
        }

        color: $clr_grey_text;
    }
}

%inputExchange {
    font-family: fB;
    outline: none;
    border: none;
}

%inputNumberBtn{
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        appearance: none;
    }
}

%info {

    @include Grid($t-c: 1fr, $r-g: 10px);

    @media (min-width:1024px) {
        grid-template-columns: repeat(3, max-content);
        column-gap: 40px;

        &.active {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    padding: 40px 0 50px;

    .infoItem {
        span {
            line-height: 16px;
            color: $clr_grey_text;
            display: block;
            margin: 0 0 7px;
        }

        p {
            font-family: fM;
            font-size: 21px;
            @include Font ($f-s: 21px, $l-h: 20.8px);
        }
    }
}

%btn {
    text-align: center;
    @include Grid ($t-c: max-content, $c-g: 30px, $r-g: 13px);

    @media (min-width:1024px) {
        grid-template-columns: repeat(2, max-content);
        align-items: center;
    }
}

%input-select {
    font-family: fR;
    font-size: 16px;
    padding: 21px 20px;
    width: 100%;
    outline: none;
    border: 1px solid #ECECEC;
    border-radius: 10px;

    @media (min-width:1024px) {
        font-size: 18px;
    }
}

%image {
    border-radius: 0 10px 10px 0;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 280px;
    background-color: #f1f1f1;

    @media (min-width:1024px) {
        background-position-x: 160px;
        background-size: contain;
        background-color: transparent;
        order: 2;
    }
}

%cardImage {
    position: absolute;
    width: 120px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 22px 28px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: all 0.3s;
    height: auto;

    @media (min-width:1024px) {
        width: 210px;
        top: 20px;
        left: 80px;

        &.active {
            box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
        }
    }
}

%newsCards {
    .cards {
        @include Grid($r-g: 15px);

        @media (min-width:1024px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
        }

        .card {
            border-radius: 10px;
            border: 1px solid $clr_border;
            position: relative;

            .tool {
                width: 24px;
                height: 24px;
                overflow: hidden;
                position: absolute;
                border-radius: 50%;
                top: 5px;
                right: 5px;
                background-color: transparent;
                transition: all 0.3s;

                li {
                    svg {
                        cursor: pointer;
                        fill: #9c9c9c;
                        transition: all 0.3s;
                    }

                    &:nth-child(2):hover {
                        svg {
                            fill: $clr_primary;
                        }
                    }

                    &:nth-child(3):hover {
                        svg {
                            fill: #ff0000;
                        }
                    }
                }

                &.active {
                    height: 100px;
                }
            }

            color: #000;

            .innerCard {
                padding: 20px;

                @media (min-width:1024px) {
                    padding: 30px 30px 20px;
                    row-gap: 30px;
                }

                .content {
                    padding: 0 0 30px;

                    p {
                        font-family: fB;
                        @include Font ($f-s: 18px, $l-h: 24px);
                        min-height: 72px;

                        @media (min-width:1024px) {
                            font-size: 20px;
                        }
                    }
                }

                .bottomInfo {
                    @include Grid($t-c: repeat(2, max-content), $j-c: space-between, $a-i: center);

                    .btn {
                        .btnMore {
                            position: relative;
                            display: inline-block;
                            font-family: fB;
                            color: $clr_second;
                            padding: 5px 38px 5px 0;

                            svg {
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                            }
                        }
                    }

                    time {
                        color: $clr_grey_text;
                    }
                }
            }
        }

    }
}

%svgAbsolute {
    position: absolute;
    transform: translateY(-50%);
}

%btnMorePrimary {
    position: relative;
    font-family: fB;
    padding: 0 45px 0 0;

    @media (min-width:1024px) {
        font-size: 20px;
    }

    svg {
        position: absolute;
        right: 0;
        top: 50%;
        transition: all 0.2s ease-in-out;
        transform: translateY(-60%);
    }

}

%btnMoreHover {
    &:hover {
        svg {
            right: -8px;
        }
    }
}

%btnStory {
    position: absolute;
    width: 40px;
    height: 40px;
    background: no-repeat center;
    cursor: pointer;
    z-index: 100;
}

%btnNews {
    display: inline-block;
    padding: 2px 54px 0 20px;
    font-family: fB;
    line-height: 48px;
    border-radius: 6px;
    border: 1px solid $clr_second;
    position: relative;
    color: $clr_second;
    transition: all 0.3s;

    &:hover {
        @extend %btnHover;
    }
}

%storyColor {
    &:first-of-type {
        background-color: $clr_storyFirst;
    }

    &:nth-of-type(2) {
        background-color: $clr_storySecond;
    }

    &:last-of-type {
        background-color: $clr_storyThirth;
    }
}

%mobTopBtn {
    border: none;
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: center;
    cursor: pointer;
}

%btnText {
    transition: all 0.3s;

    @media (min-width:1024px) {
        font-size: 20px;
        position: relative;
        z-index: 1;
    }
}

%menuActive {
    font-family: fB;
    color: #000000;
}

%greyText {
    color: $clr_grey_text;
}

%linkAfter {
    &::after {
        opacity: 1;
        visibility: visible;
    }
}

%linkContent {

    height: 55px;
    border: 1px solid #00000026;
    border-radius: 5px;
    background-color: #fff;

    li {
        position: relative;

        a {
            display: block;

            .iconContent {
                background-repeat: no-repeat;
                background-position: left top 11px;

                span {
                    font-size: 12px;
                }

                p {
                    font-family: fM;
                    line-height: 9px;
                    @include Font ($l-h: 9px, $l-s: -0.4px);
                }
            }
        }

        &:nth-of-type(2) {
            a {
                .iconContent {
                    background-position: top 13px left;
                }
            }
        }

        &:nth-of-type(3) {
            a {
                .iconContent {
                    background-position: top 14px left;
                }
            }
        }
    }
}

%headingH3 {
    font-family: fB;
    @include Font ($f-s: 20px, $l-h: 22px);
    padding: 7px 0 7px;
}

%heading {
    height: 38px;
    margin: 0 0 5px;
    @include Grid($a-i: center);

    @media (min-width:1024px) {
        margin: 0 0 10px;
    }

    h2 {
        @extend %headingH3;

        @include screenSize(desktop){
            font-size: 25px;
            padding: 0;
        }
    }
}

%headingCardCredit {
    text-align: center;
    max-width: 840px;
    margin: 5px auto 50px;

    h1 {
        font-family: fH;
        font-size: 20px;

        @include screenSize(desktop){
            @include Font($f-s: 54px, $l-h: 86px);
        }
    }

    p {
        color: $clr_grey_text;

        @media (min-width:1024px) {
            @include Font($f-s: 22px, $l-h: 30px);
        }
    }
}

%items {
    &:first-child {
        .card {
            .content {
                .info {
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 40px;
                }
            }
        }
    }

    &:nth-child(6) {
        .calcItems {
            &:first-child {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

%firstSection {
    padding: 111px 0 50px;
    transition: all 0.3s;

    &.active {
        padding: 0 0 50px;
    }

    @include screenSize(desktop){
        padding: 145px 0 50px;

        &.active {
            padding: 265px 0 50px;
        }
    }
}

%slider {
    width: 55%;
    position: absolute;
}

%btnBox {
    display: block;
    width: 45px;
    height: 45px;
    border: 1px solid #0000001a;
    border-radius: 30px;
    background-color: $clr_primary;
}

%wrapper {
    padding: 0 15px;

    @media (min-width:1024px) {
        padding: 0;
    }
}

%box {
    height: 400px;
    border-radius: 10px;


    @media (min-width:1024px) {
        height: 505px;
        padding: 0;
        border-radius: 0;
    }
}

%item {
    position: relative;
    user-select: none;
    height: 100%;
    background-color: $clr_primary;
}

%background {
    display: none;
    position: absolute;
    z-index: 4;
    background-color: $clr_primary;
    width: 55%;
    height: 100%;
    top: 0;
    left: 0;

    @media (min-width:1024px) {
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 50%;
            height: 100%;
            right: -10%;
            top: 0;
            background-color: $clr_primary;
            transform: skewX(-12deg);
            z-index: 9;
        }
    }

    @media (min-width:1024px) {
        display: block;
    }
}

%mainImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 190px;
    z-index: 3;
    background: no-repeat center;
    background-size: cover;

    @media (min-width:1024px) {
        width: 55%;
        height: 100%;
        right: 0;
    }
}

%mainInfo {
    position: relative;
    top: 190px;
    height: 210px;
    z-index: 10;
    max-width: 1140px;
    margin: 0 auto;

    @media (min-width:1024px) {
        height: 100%;
        top: 0;
    }
}

%mainContent {
    height: 100%;
    position: relative;
    padding: 20px 30px;

    @media (min-width:1024px) {
        padding: 0 20px;
        @include Grid($a-c: center);
    }

    h3 {
        font-family: fH;
        font-size: 20px;
        margin: 0 0 10px;

        cursor: text;

        @media (min-width:1024px) {
            font-size: 40px;
            line-height: 55px;
        }
    }

    p {

        cursor: text;
        @include Font($l-h: normal, $l-s: 0.2px);

        @media (min-width:1024px) {
            @include Font($l-h: 26px, $f-s: 19px);
        }
    }
}

%mainBtn {
    position: absolute;
    bottom: 61px;
    left: 30px;

    &:hover {
        background-color: #fff;

        span {
            color: #000;
        }
    }

    @media (min-width:1024px) {
        left: 20px;

        &:hover {
            background-color: transparent;

            &::after {
                background-color: #fff;
            }

            span {
                color: #000;
            }
        }
    }
}

%loader {
    display: none;
    position: absolute;

    width: 30px;
    aspect-ratio: 1;

    border-radius: 50%;
    background:
        linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0) 50%/8% 100%,
        linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0) 50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);

    &::before,
    &::after {
        content: "";
        grid-area: 1/1;
        border-radius: 50%;
        background: inherit;
        opacity: 0.915;
        transform: rotate(30deg);
    }

    &::after {
        opacity: 0.83;
        transform: rotate(60deg);
    }
}

@keyframes l23 {
    100% {
        transform: rotate(1turn)
    }
}

%rangeItem {
    padding: 10px;
    position: relative;

    &:not(:last-of-type) {
        border-right: 1px solid #ECECEC;
    }

    .number {
        font-family: fM;
        @include Font($f-s: 26px, $l-h: 30px);
        outline: none;
        border: none;
        width: 100%;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            appearance: none;
        }
    }

    p {
        font-family: fB;
        @include Font($f-s: 15px, $l-h: 15px);
        position: absolute;
        right: 20px;
        top: 65%;
        transform: translateY(-50%);
        color: $clr_grey_text;
    }

    span {
        color: $clr_grey_text;
        font-size: 15px;
        @include Font ($f-s: 15px, $l-h: 19px);
        display: block;
    }

    .range {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        outline: none;
        appearance: none;
        background-color: #0000001a;
        cursor: pointer;

        --range: calc(var(--max) - var(--min));
        --ratio: calc((var(--val) - var(--min)) / var(--range));
        --sx: calc(0.5 * 1.5em + var(--ratio) * (100% - 1.5em));

        &::-moz-range-thumb {
            appearance: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            cursor: pointer;
            background: #ffffff;
            border: 3px solid #ffc628;
        }

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: linear-gradient(#ffc628, #ffc628) 0 / var(--sx) 100% no-repeat;
        }

        &::-webkit-slider-thumb {
            height: 26px;
            width: 26px;
            appearance: none;
            border-radius: 50%;
            background: #fff;
            cursor: pointer;
            border: 5px solid #ffc628;
            margin: -10px 0 0 0;
            box-sizing: border-box;
        }

        &::-moz-range-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
        }

        &::-ms-track {
            width: 100%;
            height: 3px;
            cursor: pointer;
        }

        &::-ms-thumb {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            appearance: none;
            background: #ffffff;
            cursor: pointer;
            background: #ffffff;
            border: 3px solid #ffc628;
        }
    }
}

%sectionSpace {
    padding: 30px 0;

    @media (min-width: 1024px) {
        padding: 50px 0;
    }
}

%headerRight {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-position: center;
}