$clr_primary: #ffc628;
$clr_second: #0091FE;
$clr_grey_text: #00000080;
$clr_second_grey: #5050507a;
$clr_border: #ececec;
$clr_storyFirst: #81BD5B;
$clr_storySecond: #0071C7;
$clr_storyThirth: #D82A34;
$clr_social_back: #f3f1f7;
$clr_error: #ff7777;

//===========================//

$screen-sizes: (
    tablet: 768px,
    desktop: 1024px)