footer {
    margin: 50px 0 0;

    .navbar {
        .wrapper {
            @include Grid($t-c: repeat(2, 1fr), $g: 24px);
            border-top: 1px solid $clr_border;

            @media (min-width: 1024px) {
                grid-template-columns: repeat(4, 1fr);
            }

            padding: 32px 0;

            .navSection {
                li {
                    &:first-child {
                        padding: 0 0 16px;
                        @include Font($f-s: 18px, $l-h: 1.5, $f-w: 600);

                        a {

                            @media (min-width:1024px) {
                                font-size: 27px;
                            }

                            color: #000;

                            &:hover {
                                color: $clr_primary;
                                text-decoration: none;
                            }
                        }
                    }

                    padding: 0 0 8px;
                    line-height: 1.4;

                    a {
                        color: $clr_grey_text;

                        &:hover {
                            text-decoration: underline;
                            color: #000000bf;
                        }
                    }
                }
            }
        }
    }

    .contactUs {
        .wrapper {
            @include Grid($t-c: 1fr, $j-c: space-between, $r-g: 20px);

            @media (min-width:1024px) {
                grid-template-columns: repeat(2, max-content);
            }

            padding: 15px 0;
            border-bottom: 1px solid $clr_border;

            .social {
                justify-self: center;

                ul {
                    @include Grid($t-c: repeat(5, 40px), $c-g: 11px);
                    padding: 5px 0;

                    li {
                        a {
                            display: inline-block;
                            width: 40px;
                            height: 40px;
                            background-color: $clr_social_back;
                            border-radius: 50%;
                            position: relative;
                            transition: all 0.3s;
                            vertical-align: middle;


                            &:hover {
                                box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.35);
                            }


                            svg {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        &:first-child{
                            a{
                                &:hover{
                                    svg{
                                        g{
                                            opacity: 1;
                                        }  
                                        path{
                                            fill: #1877F2;                                         
                                        }                                        
                                    }
                                }
                            }
                        }
                        &:nth-child(2)
                        {
                            a{
                                &:hover{
                                    svg{
                                        g{
                                            opacity: 1;
                                        }                                
                                        path{
                                            fill: #ed712f;
                                        }                                        
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .contact {
                ul {
                    @include Grid($t-c: repeat(3, auto), $c-g: 10%, $r-g: 15px, $j-c: center);

                    @media (min-width:1024px) {
                        column-gap: 100px;
                    }

                    li {
                        color: $clr_grey_text;

                        a {
                            font-family: fM;
                            color: #000;

                            &:hover {
                                color: $clr_primary;
                            }

                        }
                    }
                }
            }
        }
    }

    .footBottom {

        .wrapper {
            padding: 30px 0 40px;

            color: $clr_grey_text;

            .footerLogo {
                text-align: center;
                padding: 0 0 10px;

                a {
                    display: inline-block;
                    width: 144px;
                    height: 36px;
                }
            }

            ul {
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0 10px;
                }
            }

            a {
                color: $clr_grey_text;

                &:hover {
                    color: $clr_primary;
                }
            }

            .siteBy {
                text-align: center;
                margin: 10px 0 0;

                a {
                    display: inline-block;
                    width: auto;
                    height: auto;
                    padding: 0 0 0 22px;
                    margin: 0 0 0 9px;
                    background: no-repeat left 3px;
                    background-size: 16px;
                }
            }
        }
    }
}